$font-stack: 'Halvetica', 'Lucida Sans';
$backgorund-color: #FFE5D0;

* {
    font-family: $font-stack;
}

nav{
    background-color: #653208;
    margin: 0;
    color: white;
    overflow: hidden;
    width: 100%;

    ul {
        margin: 0;
        padding: 0;
        display: flex;

        li {
            display: inline-block;
            list-style-type: none;

            a {
                display: block;
                line-height: 3em;
                padding: 1em 3em;
                text-decoration: none;
            }
        }
    }
}

nav ul li:first-child {
    margin-right: auto;
}

nav ul li a:hover {
    background-color: #9f5417;
}

#logo {
    margin-left: 10px;
    display: block;
    text-decoration: none;
    font-size: 28px;
    align-self: flex-end;
    margin-bottom: 5px;
}

