<div class = "navbar navbar-default">
    <ul>
        <li id = "logo">
            BoardGameEngine
        </li>
        <li>
            <a (click)="goToHome()">Home</a>
        </li>
        <li>
            <a (click)="goToFavorites()">Favorites</a>
        </li>
        <li>
            <a (click)="goToLogin()">Login</a>
        </li>
        <li>
            <a (click)="goToRegister()">Register</a>
        </li>
        <li>
            <a (click)="goToMyAccount()">My account</a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>
<lib-ng-toast></lib-ng-toast>




