$background: #FFE5D0;
$text-color: #371C05;

body {
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: $background;
    font-family: Roboto, "Helvetica Neue", sans-serif;   
    display: flex;
    flex-direction: column;
}


.header {
    font-size: 1.2vw;
    color: $text-color;
    margin: 10px;
    font-weight: bold;
    width: 50%;
}

.sort {
    width: 20%;
    float: right;
    margin-bottom: 10px;
}

button {
    background-color: #653208;
    color: white;
    border-radius: 16px;
    height: 40px;
}

button:hover {
    background-color: #9f5417;
}

input {
    background-color: white;
    border-radius: 16px;
    border: 2px solid #000000;
    height: 30px;
    font-size: 14pt;
    margin: 10px;
    padding: 5px;
}

li {
    list-style-type: none;
    display: flex;
}

.list {
    margin: 10px;
}

img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

img:hover {
    opacity: 0.5;
}

.description {
    margin: 10px;
    color: $text-color;
    width: 80%;
}

mat-paginator {
    background-color: transparent;
}


