<body>
    <div class = "description">
        Write a single category that you are looking for and we will do the rest! <br><br>
        You will end up with a list of best of board games that meet your criteria.
    </div>


    <div class="search">   
        <input placeholder="Search" size="60" [(ngModel)]="searchString">
        <button mat-raised-button (click)="goToSearch()">Search</button>  
    </div>
    
    <div class="favorites">
        <p>Top 10 most favorite games: </p>
        <owl-carousel-o [options]="customOptions" *ngIf="loaded">
          <ng-container *ngFor="let game of games; let i = index">
              <ng-template carouselSlide id="i">
                <img [src]="game.image_url" [alt]="game.name" [title]="game.name" (click)="goToGame(game.game_id_id)">
                <p class="slide">{{ i+1 + ": " + game.name }}</p>
                <p class="slide"><star-rating [starType]="'svg'" [rating]="game.avg_rank" [labelText]="game.avg_rank.toString()"
                    [labelPosition]="'right'" [showHalfStars]="true" [readOnly]="true"></star-rating></p>
              </ng-template>
          </ng-container>
        </owl-carousel-o>
        <owl-carousel-o [options]="customOptions" *ngIf="!loaded">
            <ng-container>
                <ng-template carouselSlide id="1">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif">
                </ng-template>
                <ng-template carouselSlide id="2">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif">
                </ng-template>
                <ng-template carouselSlide id="3">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif">
                </ng-template>
                <ng-template carouselSlide id="4">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif">
                </ng-template>
            </ng-container>
          </owl-carousel-o>
    </div>
</body>
