$background: #FFE5D0;
$text-color: #371C05;

html, body {
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: $background;
    font-family: Roboto, "Helvetica Neue", sans-serif;  
    display: flex;
    flex-flow: row wrap;
}

h1 {
    font-size: 3vw;
    color: $text-color;
    font-weight: bold;
    margin: 10px;
    margin-bottom: 30px;
}

.info {
    display: flex;
    width: 100%;
}

.image {
    width: 50%;
    margin: 10px;
    float: left;
}

.parameters {
    width: 50%;
    margin: 10px;
    float: left;
}

img {
    max-width: 500px;
    max-height: 500px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);

}

.description {
    margin: 10px;
    color: $text-color;
    font-size: 1.5vw;
}

mat-icon, button, .rating, .players, .age, .time, .categories, .publisher, .year {
    margin: 10px;
    color: $text-color;
    font-size: 1.4vw;
    font-weight: bold;
}

mat-icon {
    transform: scale(1.3);
    color: #653208;
}

.rating {
    justify-content: flex-start;
}

.parameters-card {
    width: auto;
    max-width: 79%;
    height: auto;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    opacity: 1;
    padding: 60px 50px 40px 50px;
    margin: 10px;
    background: rgb(252, 236, 219);
    border-radius: 10px;
    color: $text-color;
    padding: 60px 50px 40px 50px;
    margin: 5px;
    width: 100%;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
}

.description-card {
    width: auto;
    max-width: 90%;
    height: auto;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    opacity: 1;
    padding: 60px 50px 40px 50px;
    margin: 10px;
    background: rgb(252, 236, 219);
    border-radius: 10px;
    color: $text-color;
    padding: 60px 50px 40px 50px;
    margin: 5px;
    width: 100%;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
}

