<body>  
    <div class="info"> 
        <div class="image">
            <a [href]="game[0].image_url" target="_blank">
                <img [src]= "game[0].image_url">
            </a>
        </div>
        <div class="parameters">
            <mat-card class="parameters-card"> 
                <h1>{{ game[0].name }}</h1>
                <div *ngIf="game[0].is_favourite && isLoggedIn()"><button mat-icon-button (click)="favClick()">
                    <mat-icon>favorite</mat-icon>remove from favorites
                </button></div>
                <div *ngIf="!game[0].is_favourite && isLoggedIn()"><button mat-icon-button (click)="favClick()">
                    <mat-icon>favorite_border</mat-icon>add to favorites
                </button></div>

                <div class="rating">users rating: <star-rating [starType]="'svg'" [rating]="game[0].rank_value" 
                    [labelText]="game[0].rank_value.toString()"
                    [labelPosition]="'right'" [showHalfStars]="true" [readOnly]="true"></star-rating>
                    <button mat-icon-button *ngIf="isLoggedIn()" (click)="openDialog()">
                        <mat-icon>star_half</mat-icon>rate this game</button>
                </div>
                <div class="players">players: {{ game[0].min_player }} - {{ game[0].max_player }}</div>
                <div class="age">age: {{ game[0].minimal_age }}+</div>
                <div class="time">time: {{ game[0].avg_time }} min</div>
                <div class="publisher">publisher: {{ game[0].publisher }} </div>
                <div class="year">release year: {{ game[0].release_year }}</div>
                <div class="categories">categories: {{ game[0].genres }}</div> 
            </mat-card> 
        </div>
    </div> 
    <div class="description">
        <mat-card class="description-card">
        <p style="white-space: pre-wrap">
            {{game[0].game_description | htmlEntities }}
        </p>
    </mat-card> 
    </div> 
</body>