<div class="main-div">
    <mat-card class="example-card">      
        <mat-card-content>
            <h1>My account</h1>
            <div class="profile-dot">
                    <h1>{{ username | slice:0:1 | uppercase }}</h1>
            </div>
            <h6 class="uxg-h6">{{ username }}</h6>
            <span class="uxg-caption">{{ email }}</span>
            <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="logout()" mat-flat-button dense>
                <mat-icon>exit_to_app</mat-icon>
                Logout
            </button>
        </mat-card-actions>
      </mat-card>
</div>
